.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 100px;
  min-height: 70px;

  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;

  .headerRight {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}