.postForm {
  margin-bottom: 25px;

  .postField {
    width: 100%;
    border-radius: 7px;
    resize: none;
    height: 50px;
    border: 1px solid var(--border-background);
    background-color: var(--card-background);
    margin-bottom: 10px;
    padding: 5px 10px;
  }

  .postError {
    color: red;
    border: 1px solid red;
    border-radius: 5px;
    margin-bottom: 10px;
  }
}